
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #E6CCB2;
  color: white;
  font-weight: 600;
}

.toolbar #paw-logo {
  height: 40px;
  margin: 0 30px;
}

.content {
  display: flex;
  margin: 140px 32px;
  padding: 0 16px;
}

#emocao {
  margin-right: 3%;
  margin-top: 2%;
}

#emocao:hover {
  opacity: 0.6;
}

.botao {
  border-style: dashed !important;
}

.border-marrom {
  border-color: #804F3B;
}

.title-logo {
    font-family: populaire; font-size: 220%; color: #804F3B;
    margin-top: 0.5%;
}

.title-conteudo {
    font-family: populaire; font-size: 500%; color: #804F3B;
}

.text-title {
    font-family: light; font-size: x-large; color: #808080;
}

.title-emocao {
    font-family: populaire; font-size: 350%; color: #cc9c88;
}

.text-emocao {
    font-family: light; font-size: x-large; color: #808080; margin-top: 3%;
}

.title-img {
    font-family: light; font-size: large; color: #808080;
}

.img-config {
  max-width: 100%; height: auto;
  border: 2px dashed #804F3B;
}

.img-borda {
  background-image: repeating-linear-gradient(168deg, #804f3b, #804f3b 10px, transparent 10px, transparent 21px, #804f3b 21px), repeating-linear-gradient(258deg, #804f3b, #804f3b 10px, transparent 10px, transparent 21px, #804f3b 21px), repeating-linear-gradient(-12deg, #804f3b, #804f3b 10px, transparent 10px, transparent 21px, #804f3b 21px), repeating-linear-gradient(78deg, #804f3b, #804f3b 10px, transparent 10px, transparent 21px, #804f3b 21px);
  background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

.block-button {
  opacity: 0.5;
}

.close-img-button {
  position: absolute !important;
  bottom: 50%;
  right: 50%;
}

.resultado-title {
  font-family: populaire; font-size: 420%; color: #804F3B;
  justify-content: center; margin-top: 3%;
}

.title-resultado-feliz {
  font-family: populaire; font-size: 380%; color: #7ED957;
}

.title-resultado-triste {
  font-family: populaire; font-size: 380%; color: #0CC0DF;
}

.title-resultado-raiva {
  font-family: populaire; font-size: 380%; color: #FF5757;
}

.title-resultado-relaxado {
  font-family: populaire; font-size: 380%; color: #FFBD59;
}

.resultado-text {
  justify-content: center; 
}

// .imgFeliz {
//     background-image: url("../assets/img/d1.jpg") !important;
//     max-width: 100%; height: auto;
//     object-fit: cover;
// }

.button-8 {
  background-color: #E6CCB2;
  border-radius: 3px;
  border: 1px solid #804F3B;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  transition: 0.4s;
}

.button-8:hover,
.button-8:focus {
  background-color: #cc9c88;
  transition: 0.4s;
}

.button-8:active {
  background-color: #E6CCB2;
  box-shadow: none;
  color: #cc9c88;
}