/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'populaire';
    src: url('../src/assets/font/Populaire.ttf');

  }

@font-face {
    font-family: 'light';
    src: url('../src/assets/font/proxima-nova-light.otf');
  }